doctype html
html(lang='en')
	head
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		title 兒童美術館
		meta(name='description', content='小朋友在畫畫時，可以聽到畫筆在紙上發出唏唏唦唦的聲音。《兒童美術館》將 cicisasa.com 作為網址，希望全世界的小朋友持續畫畫、開心畫畫。')
		meta(name='keywords', content='兒童, 美術館, 兒童美術館, 線上美術館, 兒童線上美術館')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	body
		p hello3
		img(width="100%" , src="http://cicisasa.com/images/sys/featured/Map_Banner_x1.jpg")
		script(src='/js/bundle.js')