#nodejs npm node_modules
node_modules/

#bower component ignore all not modify project
bower_components/backbone
bower_components/underscore
bower_components/jquery
bower_components/bootstrap
bower_components/holderjs
bower_components/blueimp-canvas-to-blob
bower_components/bootstrap-datepicker
bower_components/bootstrapValidator
bower_components/pnotify
bower_components/jssor-slider/
bower_components/mobile-detect/
bower_components/i18next/
.c9/
#all backup file
*.bak*

#compiled files
apps/client/css/bundle.css
apps/client/js/bundle.js
apps/client/css/bundle.min.css
apps/client/js/bundle.min.js

#upload files
#apps/client/images/user/*
!apps/client/images/user/profileimg/profileimage_1.jpg
!apps/client/images/user/profileimg/profileimage_2.jpg
!apps/client/images/user/profileimg/profileimage_3.jpg
!apps/client/images/user/profileimg/profileimage_4.jpg
!apps/client/images/user/profileimg/profileimage_5.jpg
!apps/client/images/user/profileimg/profileimage_6.jpg
apps/client/images/user/upload/*
apps/client/images/user/upload/medium/*
apps/client/images/user/upload/large/*
apps/client/images/user/avatar/thumbnail/*
apps/client/images/user/avatar/small/*
apps/client/images/user/avatar/medium/*
apps/client/images/user/avatar/*.JPEG
apps/client/images/user/avatar/*.jpg
apps/client/images/user/avatar/*.png
apps/client/images/user/avatar/thumbnail/*.JPEG
apps/client/images/user/avatar/thumbnail/*.jpg
apps/client/images/user/avatar/thumbnail/*.png
apps/client/images/user/avatar/small/*.JPEG
apps/client/images/user/avatar/small/*.jpg
apps/client/images/user/avatar/small/*.png
apps/client/images/user/avatar/medium/*.JPEG
apps/client/images/user/avatar/medium/*.jpg
apps/client/images/user/avatar/medium/*.png
!apps/client/images/user/avatar/medium/defaulticon.png
!apps/client/images/user/avatar/small/defaulticon.png
apps/client/images/user/profileimg/*
apps/client/images/user/groupavatar/*
apps/client/images/Thumbs.db
apps/client/images/user/Thumbs.db
apps/client/images/user/profileimg/*
apps/client/images/user/groupavatar/*
apps/client/images/*.db
*.db
.bower.json
config-dev.js
apps/client/images/Thumbs.db
apps/client/images/user/Thumbs.db
apps/template/new  3.txt
apps/template/artwork.jade
apps/client/images/Thumbs.db
hoststderr.log
hoststdout.log
naught.log
naught.pid
domainstderr.log
domainstdout.log
host.ipc
domain.ipc
*.mp3
apps/client/audio/*
*.db
/batch/*/
test.*
apps/client/images/Thumbs.db
app2
